.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.import-button,
.inputfile + label {
	border-radius: 2px;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 15px;
	font-weight: normal;
	border: 1px solid transparent;
	padding: 8px 16px;
  color: #fff;
	background-color: #7DB942;
	border-color: #70a63b;
	display: inline-block;
	text-transform: none;
}

.import-button:disabled,
.import-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.separator-input {
	width: 220px;
	border-radius: 2px;
	border-color: #70a63b;
	border: 1px solid #70a63b;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 15px;
	font-weight: normal;
	padding: 8px 16px;
	display: inline-block;
	text-transform: none;
}


.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #649335;
	border-color: #52792b;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
